<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="description" content="a javascript-only lightbox for the Slack front end challenge">
    <meta name="keywords" content="<%= searchTerm %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>lisavogtsf lightbox</title>

		<!-- load style sheets -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<!-- load scripts for dom interaction -->
		<script src="scripts/lightbox.js"></script>

	</head>
<body>
	<section>
		<article id="main">
			<header>
				<h1>lisavogtsf lightbox</h1>
			</header>
			<div id="thumbnail-frame">
				<!-- load thumbnails from API here -->
				<% for (var i = 0; i < photoUrls.length; i++) { %>

					<div style="background-image:url(<%= photoUrls[i] %>);" alt="<%= photos[i].title %>" data-title="<%= photos[i].title %>" data-order=<%= i %> class="thumbnail" tabindex="0"></div>
				<% } %>
			</div>
			<footer>
				<a href="http://lisavogtsf.github.io/">by Lisa Vogt, http://lisavogtsf.github.io/</a>
			</footer>
		</article>

		<article id="lightbox" class="hide">
			<!-- when thumbnails is clicked, show a large version here -->
			<!-- with the ability to move to the next / previous photos and display the photo title -->
			<div id="viewer-frame">
				<button id="close" onclick="closeLightbox();">X</button>
				<div id="viewer"></div>
				<nav>
					<button id="previous" onclick="changePhoto(-1);">previous</button>
					<h2></h2>
					<button id="next" onclick="changePhoto(1);">next</button>
				</nav>
			</div>
		</article>
	</section>

</body>
</html>

